.BottomContainer {
    padding: 12px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(104, 227, 255);
    background: radial-gradient(circle, rgb(104, 227, 255) 80%, rgba(255,255,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}