.Product {
  display: flex;
  justify-content: center;
  border-radius: 24px;
  border: 1px solid #444444;
  max-width: 1000px;
  width: 95%;
  margin: 10px auto;
  background-color: #e9c8ff17;
}

.Product section {
  max-width: 1024px;
  margin: 20px;
}

.Product img {
  border-radius: 10px;
  margin: 20px;
  filter: drop-shadow(0px 0px 4px hsl(0deg 0% 0% / 0.3))
}

.Product h1 {
  font-size: 2.5rem;
}

.Product h2 {
  font-size: 1.25rem;
}