.Product {
  display: flex;
  border-radius: 24px;
  border: 1px solid #444444;
  margin: 10px;
  background-color: #e9c8ff17;
}

.Product img {
  border-radius: 10px;
  margin: 20px;
  filter: drop-shadow(0px 0px 4px hsl(0deg 0% 0% / 0.3))
}

.Product h1 {
  text-align: center;
  font-size: 3rem;
}

.Product h2 {
  text-align: center;
  font-size: 1.25rem;
}